/*default*/
code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 5px;
  border-radius: 2px;
}
/*end - defaul*/

.containerWrapper {
  max-width: 1280px;
}

.containerText {
  padding-top: 60px;
}

.content-caricature {
  position: relative;
  width: 498px;
  height: 620px;
}

.caricature {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 498px;
  height: 620px;
  transition: .5s;
  opacity: 0;
  z-index: 1;
  transition-delay: .5s;
}

.caricature.active {
  opacity: 1;
  z-index: 2;
  transition-delay: 0s;
}

.ph-1 { background-image: url(../imgs/dilmesA.png); }
.ph-2 { background-image: url(../imgs/dilmesB.png); }
.ph-3 { background-image: url(../imgs/dilmesC.png); }
.ph-4 { background-image: url(../imgs/dilmesD.png); }
.ph-5 { background-image: url(../imgs/dilmesE.png); }
.ph-6 { background-image: url(../imgs/dilmesF.png); }

.container-text-dilmes {
  margin-top: 20px;
  overflow-y: auto;
  height: 440px;
}

.container-text-dilmes p {
  font-size: 20px;
}

.mdl-navigation__link--icon .material-icons.custom {
  margin-top: 20px;
  float: left;
  margin-right: 5px;
}

.containerSublime {
  border-top: 5px solid;
  padding: 40px 30px 30px;
  margin-top: -50px !important;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px -10px 50px -24px;
  border-radius: 3px;
}

.containerSublime a {
  color: rgb(244,67,54) !important;
  text-decoration: none;
}

.containerSublime a:hover {
  text-decoration: underline;
}

/*baloon*/
.baloon {
  width: 184px;
  height: 156px;
  position: absolute;
  right: 0;
  top: 10px;
  background-image: url(../imgs/baloon.png);
}

/*credits love*/

.love {
    color: #fff;
    display: inline-block;
    font-size: 1.4em;
    position: relative;
    top: .2em;
    transform: scale(.95);
    animation: love .5s infinite linear alternate-reverse;
}

@keyframes love {
    to { transform: scale(1.2); }
}
